node_modules
**/node_modules
dist
**/dist
*.tsbuildinfo
**/*.tsbuildinfo
build
coverage
.git
.gitignore
.env
.env.local
*.env
*.log
.DS_Store
.idea
.vscode
.turbo
apps/iot/.pio
apps/iot/include/secrets.h
apps/iot/src/secrets.h
