COMPOSE_PROJECT_NAME=

FRONTEND_WEB_URL=
BACKEND_CENTRAL_URL=
BACKEND_PAYS_BR_URL=
BACKEND_PAYS_EC_URL=
BACKEND_PAYS_CO_URL=
MAILDEV_WEB_URL=

FRONTEND_WEB_PORT=
BACKEND_CENTRAL_PORT=

BACKEND_PAYS_BR_PORT=
BACKEND_PAYS_EC_PORT=
BACKEND_PAYS_CO_PORT=

MARIADB_CENTRAL_PORT=
MARIADB_BR_PORT=
MARIADB_EC_PORT=
MARIADB_CO_PORT=

MOSQUITTO_BR_PORT=
MOSQUITTO_EC_PORT=
MOSQUITTO_CO_PORT=

MAILDEV_SMTP_PORT=
MAILDEV_WEB_PORT=

MARIADB_ROOT_PASSWORD=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_CENTRAL_DATABASE=
MARIADB_BR_DATABASE=
MARIADB_EC_DATABASE=
MARIADB_CO_DATABASE=

DATABASE_CENTRAL_URL=
DATABASE_BR_URL=
DATABASE_EC_URL=
DATABASE_CO_URL=

MQTT_BR_URL=
MQTT_EC_URL=
MQTT_CO_URL=

MAILDEV_SMTP_URL=
